<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome to Microblog!</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <img src="{{url_for('static', filename='docker.jpg')}}" class="center" height="100" width="100"/>
        <br />
        <h1>This is container {{ container }}</h1>
    </body>
</html>
